@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
body {
  padding: 3em 2em;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1;
  background: #333333;
}
section {
  max-width: 500px;
  margin: 0 auto;
  display: block;
  padding: 2em;
  width: 100%;
}
span {
  position: absolute;
  top: 7px;
  left: 16px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
}
.carddemoBasicUsage .card-media {
  background-color: #999999; 
    
}
